/* Reset básico e fonte padrão */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Trava a altura na altura da tela */
    margin: 0;
    overflow: hidden; /* Impede qualquer tipo de scroll */
    background-color: #f0f2f5;
    color: #333;
}

/* Título */
h1 {
    background-color: #1a237e; /* Um azul escuro */
    color: white;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: fixed; /* Fixa a barra no topo */
    top: 0;
    z-index: 10; /* Garante que o header fique por cima */
}

/* Container principal para centralizar o conteúdo */
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Faz o container ocupar o espaço disponível */
    width: 100%;
    padding: 70px 0 90px 0; /* Espaçamento para não ficar atrás do header/footer */
}

/* Estilo da janela da câmera */
#camera-view {
    width: 100%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 8px;
    /* margin-top removido, o flexbox cuidará do alinhamento */
    display: none; /* Começa escondido */
}

/* Botão de Scan */
#start-scan-btn {
    background-color: #3949ab; /* Azul índigo */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700; /* Deixa a fonte um pouco mais forte */
    border-radius: 0; /* Remove o arredondamento para o estilo de barra */
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed; /* Fixa o botão na tela */
    bottom: 0; /* Alinha na base */
    left: 0; /* Alinha na esquerda */
    width: 100%; /* Ocupa toda a largura */
    margin: 0; /* Remove margens */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra para cima */
    z-index: 10; /* Garante que o botão fique por cima */
}

#start-scan-btn:hover {
    background-color: #283593; /* Azul mais escuro no hover */
}

/* Container do resultado */
#result-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 300px;
    text-align: center;
}
